<div class="dark:bg-gray-800 w-full p-6 rounded shadow">
  <%= form_with(url: create_document_path, method: "post") do |form| %>
    <div class="relative z-0 w-full mb-6 group">
      <%= form.label :document, 'Documento', class: 'peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6' %>
      <%= form.number_field :document, in: 1000000..999999999, class: 'block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer' %>
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <%= form.label :document_img, 'Imagen del Documento', class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300' %>
      <%= form.file_field :document_img, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
    </div>

    <div>
      <%= form.submit 'Enviar', class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
    </div>
  <% end %>
  <% flash.each do |type, msg| %>
    <div class="text-red-500 text-sm font-medium">
      <%= msg %>
    </div>
  <% end %>
</div>